* {
    box-sizing: border-box;
}

container {
    width: 100%;
    margin: 0;
}

.column {
    float: left;
    height: 50px;
    padding: 10px;
    background-color: #E1E1E1;
    border: 1px solid black;
    margin: 20px auto;
    font-weight: bold;
}
.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33.33%;
}

.column.one-fourth {
    width: 25%;
}

.column.one-sixth {
    width: 16.66%;
}

.column.one-eighth {
    width: 12.5%;
}
