* {
    box-sizing: border-box;
}

body {
    /*background-color: olivedrab;*/
}

container {
    width: 100%;
    margin: 0;
}

.column {
    float: left;
    height: 40px;
    padding: 10px;
    margin: 10px auto;
    font-weight: bold;
    text-align: center;
    /*border-radius: 5px;*/
}

.column.one-half {
    width: 50%;
}

.column.one-third {
    width: 33.33%;
}

.column.one-fourth {
    width: 25%;
}

.column.one-sixth {
    width: 16.66%;
}

.column.one-eighth {
    width: 12.5%;
}

.twos {
    /*background-color: red;*/
    /*border: 1px solid gold;*/
    /*color: gold;*/
}

.threes {
    /*background-color: gold;*/
    /*border: 1px solid red;*/
    /*color: red;*/
}