img {
    height: 300px;
    width: 400px;
}

.fancy-header {
    color: #093275;
    text-decoration: underline;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}

h2 {
    color:#093275;
    text-decoration: underline;
}

body {
    background-color: white;
    background-image: url("../img/stripes-light.png");
    background-attachment: fixed;
    font-family: 'Allerta Stencil', sans-serif;
}

ul {
    list-style: square;
}

ol {
    list-style: upper-roman;
}

th, td {
    padding: 3px;
}

th {
    font-weight: bold;
    text-decoration: underline;

a:link {
    color: #093275;
}

a:visited {
    color: #7d7d7d
}

a:hover {
    color: #ef1515
}